{% extends "polls/base.html" %}

{%block content%}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Build 2021 - Hello (Remote!) Build Attendees -)</h1>
            <p class="lead text-muted">
                A Django app published to Azure App Service using GitHub Actions
            </p>
            <p>
                <a class="btn btn-primary my-2" href="https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions">Docs</a>
                <a class="btn btn-secondary my-2" href="https://github.com/JasonFreeberg/Python-GitHub-Action">Sample repo</a>
            </p>
        </div>
    </section>

    <div class="container">
    {% if latest_question_list %}
        <div class="row">
            <div class="col-md-12">
                <h3>Poll Questions:</h3>
                <br>
            </div>
        </div>
        <div class="row">
            {% for question in latest_question_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">{{ question.question_text }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/{{ question.id }}/"><button class="btn btn-sm btn-outline-secondary" type="button">View poll</button></a>
                                </div>
                                <small class="text-muted">{{ question.pub_date|date:"l, M Y" }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <h2>No questions found.</h2>
            </div>
        </div>
    {% endif %}
    </div>

{% endblock %}
